*
!*.yaml
!.travis.yml
!*.md
!*.py
!image*.jpeg
!image*.png
!.gitignore
!automations
!images
!packages
!themes
!custom_components
!custom_components/google_geocode
!custom_components/hadockermon
!custom_components/hacs
!appdaemon
!appdaemon/apps
!appdaemon/apps/code
secrets.yaml
zones.yaml
entity_registry.yaml
known_devices.yaml
automations/auto-allarme.yaml
known_devices.yaml
alarm_control_panel.yaml
Trello.py
Utilities.py